.awesome {
    padding: 100px 0px;
}
.awesome-card {
    padding: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.awesome-card__item {
    text-align: center;
    padding: 10px 0;
    width: 350px;
}
.awesome-card__pic {
    font-size: 30px;
    color: #EC7979;
    margin: 0px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #EC7979;
    border-radius: 50%;
}
.awesome-card__subtitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}
.awesome-card__text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}