.footer {
  background-color: black;
  padding: 30px 0 15px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon-list {
  display: flex;
  justify-content: center;
  font-size: 23px;
}
.footer__item {
  margin-right: 30px;
}
.footer__item:last-child {
  margin-right: 0px;
}
.footer__link {
  color: #86878b;
}
.copy {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #86878b;
  text-align: center;
  margin-top: 18px;
}
