.header {
    background-color: #000000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-wrapper {
    display: flex;
    padding: 0 -15px;
    justify-content: space-between;
    align-items: center;
}
.header__logo-text {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}
.header__logo-text::after {
    content: 'it';
    position:absolute;
    color: #EC7979;
    top: 0;
    left: 100%;
}
.header__nav {
    padding: 0 -15px;
}
.header__links {
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-left: 48px;
}
.header__item:first-child {
    margin-left: 0;
}
.header__link {
    position: relative;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	line-height: 2;
	text-decoration: none;

}
.header__link:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 1px; 
	background-color: rgba(255, 255, 255, 0.7); 
	content: "";
	transition: all 0.3s ease-out;
}
a:hover:after,
a:focus:after {
	width: 100%;
}